<div class="container-fluid">
    <mat-card>
        <div class="row">
            <div class="col-md-3">
                <div class="list-group side-nav mt-3">
                    <a routerLink="/admin" class="list-group-item list-group-item-action">Dashboard</a>
                    <a routerLink="task-list" class="list-group-item list-group-item-action">Task List</a>
                    <a routerLink="product" class="list-group-item list-group-item-action">Add Product</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="rounded">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-card>
</div>

