<!-- <h1>Create Sale Invoice:</h1>
<div class="row">
    <div class="col-md-6">
        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Mobile No:</mat-label>
            <input (change)="searchCustomer()" pInputText [ngModelOptions]="{standalone:true}" [disabled]="isEdit"
                [(ngModel)]="customer.person.contactNo" placeholder="Contact No" matInput>
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Name:</mat-label>
            <input [ngModelOptions]="{standalone:true}" [(ngModel)]="customer.person.personName" [disabled]="isCustomerExist"
                placeholder="Customer Name" matInput>
        </mat-form-field>
    </div>
    <div class="col-md-12">
        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Address:</mat-label>
            <textarea pInputText [ngModelOptions]="{standalone:true}" [disabled]="isCustomerExist"
                [(ngModel)]="person.personAddress" matInput></textarea>
        </mat-form-field>
    </div>
    <div class="col-md-12">
        <button *ngIf="!isCustomerExist" (click)="addCustomer()" mat-raised-button color="warn">Add Customer</button>
    </div>
</div>
<hr>
<form [formGroup]="saleInvoiceIssueForm" (keydown.enter)="$event.preventDefault()">
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</form> -->