<mat-card>
    <h2>Customer List:</h2>
    <hr>
    <div class="row">
        <div class="col-md-2">
            <mat-form-field class="input-field" appearance="outline">
              <mat-label>Contact No</mat-label>
              <input pInputText [ngModelOptions]="{standalone:true}" (change)="fetchClientList()" [(ngModel)]="queryBody.contactNo"
                placeholder="Contact" matInput>
            </mat-form-field>
          </div>
        <div class="col-md-2">
          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Shop Name</mat-label>
            <input placeholder="Contact No" pInputText (change)="fetchClientList()" [ngModelOptions]="{standalone:true}"
              [(ngModel)]="queryBody.shopName" matInput>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <button style="margin-top:10px ;" mat-raised-button color="warn"  (click)="refresh()" >
            Refresh
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <div class="col-md-2">
          <button style="margin: 10px; float: left;" (click)="export()" mat-raised-button
            color="warn"> <mat-icon>output</mat-icon> Export</button>
        </div>
      </div>
    <div class="row">
        
        <div class="col-md-12">
            <table class="table table-striped" style="text-align:left ;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer Name</th>
                        <th>Contact No</th>
                        <th>Shop Name</th>
                        <th>Address</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-hover" *ngFor="let client of clientList; index as i"
                        (click)="viewClient(client.person.id)">
                        <td>{{i+1}}</td>
                        <td  style="text-align: left;">{{client.person.personName}}</td>
                        <td>{{client.person.contactNo}}</td>
                        <td  style="text-align: left;">{{client.shopName}}</td>
                        <td  style="text-align: left;">{{client.person.personAddress}}</td>
                        <th  style="text-align: right;">{{client.account.balance}} BDT</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-card>