<mat-card>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" style="text-align:center ;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer Name</th>
                        <th>Contact No</th>
                        <th>Shop Name</th>
                        <th>Address</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-hover" *ngFor="let client of clientList; index as i"
                        (click)="viewClient(client.person.id)">
                        <td>{{i+1}}</td>
                        <td  style="text-align: left;">{{client.person.personName}}</td>
                        <td>{{client.person.contactNo}}</td>
                        <td  style="text-align: left;">{{client.shopName}}</td>
                        <td  style="text-align: left;">{{client.person.personAddress}}</td>
                        <td  style="text-align: right;">{{client.account.balance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-card>