<mat-card>
    <div class="row">
        <div class="col-md-6" style="overflow-x:auto;">
            <table class="table" style="text-align:center ;">
                <thead>
                    <tr>
                        <th>Company Name:</th>
                        <th> {{supplyer?.companyName}} </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
        <div class="col-md-12"></div>
    </div>
</mat-card>