<mat-card>
    <h1>Supply Invoice List:</h1>
    <div class="row">
        <div class="col-md-12">
            <!-- <h3>Filters</h3> -->
        </div>
        <div class="md-col-12" style="overflow-x:auto;">
            <table class="table  table-striped">
                <thead>
                    <tr>
                        <th scope="col">SN</th>
                        <!-- <th scope="col">Invoice No</th> -->
                        <th scope="col">Supplyer</th>
                        <th scope="col">Supplyer Code</th>
                        <th scope="col">Contact No</th>
                        <th scope="col">Shop Name</th>
                        <th scope="col">Total Bill</th>
                        <th scope="col">Delivery Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="!isListExist">
                        <td colspan="9" style="font-weight:bold ; ">
                            No Due Payment Pending!!
                        </td>
                    </tr>
                    <tr class="row-hover" *ngFor="let invoice of supplyInvoiceList; index as i" (click)="viewInvoice(invoice)">
                        <td scope="row">{{i+1}}</td>
                        <td>{{invoice?.supplyer?.person?.personName}}</td>
                        <td>{{invoice?.supplyer?.code}}</td>
                        <td>{{invoice?.supplyer?.person?.contactNo}}</td>
                        <td>{{invoice?.supplyer?.shopName}}</td>
                        <td>{{invoice?.totalPrice}}</td>
                        <td>{{invoice?.deliveryStatus}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div style="float:right ;font-size: 16px;">
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="pageChange($event)" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</mat-card>