<div class="receipt-body">
    <div class="receipt-container print-section">
        <h2>{{shopName}}</h2>
        <p style="font-size:.7em;">{{shopAddress}}<br>Tel: {{shopContactNo}}</p>
        <div class="receipt-info">
            <p style="font-size: .8 em ;font-weight:400;">Invoice NO: {{receiptModel.invoiceNo}}</p>
            <p style="font-size:1em ;">{{tnxDate}}</p>
        </div>
        <div class="customer-info">
            <p>Name:  {{receiptModel.customerName}}</p>
            <p>Mob:  {{receiptModel.cutomerContact}}</p>
        </div>
        <div class="receipt-items">
            <table>
                <tr class="tbl-h">
                    <th class="tbl-th">Items</th>
                    <th class="tbl-th">Rate</th>
                    <!-- <th class="tbl-th">QTY</th> -->
                    <th class="tbl-th">Total</th>
                </tr>
                <tr *ngFor="let order of receiptModel.orders;index as i">
                    <td style="width: 40%;text-align: left;">{{order.item}}</td>
                    <td>{{order.rate}} X {{order.qty}}</td>
                    <!-- <td>{{order.qty}}</td> -->
                    <td>{{order.total}}</td>
                </tr>
                <tr>
                    <td colspan="4" style="border-bottom: 1px solid black;"></td>
                </tr>
                <tr>
                    <td colspan="2">Subtotal</td>
                    <td colspan="2">{{receiptModel.subTotal}}</td>
                </tr>
                <tr>
                    <td colspan="2">Tax</td>
                    <td colspan="2">{{receiptModel.tax}}</td>
                </tr>
                <tr>
                    <td colspan="2">Discount</td>
                    <td colspan="2">{{receiptModel.discount}}</td>
                </tr>
                <tr>
                    <td colspan="2">Total</td>
                    <td colspan="2">{{receiptModel.total}}</td>
                </tr>
            </table>
        </div>
        <div class="receipt-footer">
            <p style="font-size: .8em ;text-align: center;">Issued By: {{receiptModel.issuedBy}}</p>
        </div>
    </div>
</div>