.receipt-body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bolder;
    color: #000;
    text-align: center;
    padding: 15px;
}
.receipt-items{
    font-size: 10px;
    font-weight: bolder;
    color: #000;
}
.receipt-container {
    width: 160px; /* Adjust based on the thermal printer paper width */
    margin: 0 auto;
    text-align: left;
    font-size: 12px;
    font-weight: bolder;
    color: #000;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.receipt-body h2 {
    text-align: center;
    margin: 0;
}
.tbl-h{
    border-bottom: 1px dashed #000;
    
}

.receipt-info, .receipt-items, .receipt-summary, .receipt-footer, .customer-info {
    border-top: 1px dashed #000;
    padding-top: 10px;
}

.receipt-info p, .receipt-footer p, .customer-info p {
    margin: 5px 0;
}

.item-header, .item, .receipt-summary {
    display: flex;
    justify-content: space-between;
}

.item-header {
    font-weight: bold;
}

.item:not(:last-child) {
    margin-bottom: 5px;
}
.receipt-items table{
    width: 100%;
}

.receipt-items th{
    text-align: center;
}
.receipt-items tr{
    max-height: 10px;
    overflow: hidden;
}