<mat-card>
    <h2>Dashboard</h2>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <button class="box" mat-raised-button color="accent">Factory Balance <br>
                <hr class="c-hr"> {{glBalance || 0}} BDT
            </button>
        </div>
        <div class="col-md-3">
            <button class="box" mat-raised-button color="accent">Factory Balance <br>
                <hr class="c-hr"> {{glBalance || 0}} BDT
            </button>
        </div>
        <div class="col-md-3">
            <button class="box" mat-raised-button color="accent">Factory Balance <br>
                <hr class="c-hr"> {{glBalance || 0}} BDT
            </button>
        </div>
        <div class="col-md-3">
            <button class="box" mat-raised-button color="accent">Factory Balance <br>
                <hr class="c-hr"> {{glBalance || 0}} BDT
            </button>
        </div>
    </div>
</mat-card>