<mat-card>
    <div class="row">
        <h3>Person Details</h3>
        <div class="col-md-6">
            <table class="table ">
                <tbody>
                    <tr>
                        <th>Client Name</th>
                        <td>{{person?.personName}}</td>
                    </tr>
                    <tr>
                        <th>Contact No</th>
                        <td>{{person?.contactNo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-card>