<div id="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container" id="body">
        <router-outlet></router-outlet>
    </div>
    <div id="footer">
        <div class="mt-5 p-4 bg-dark text-white text-center footer">
            <p>
                Retail Management Solution, a simple and easy solution for Retail Business<br>
                Developed by <a href="mailto:faysalstat04@gmail.com"><span id="somadhanit">Somadhan-IT</span></a>
            </p>
            <br>
            <p>Version 1.0.0</p>
        </div>
    </div>
</div>