<mat-card class="mt-3">
    <div class="row">
        <div class="col-md-12">
            <h2>Parent GL</h2>
            <table class="table table-striped" style="text-align:center">
                <thead>
                    <tr class="table-primary">
                        <th *ngFor="let gl of parentGLList">{{gl.glName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let gl of parentGLList">{{gl.balance.toFixed(2)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="col-md-12">
            <h2>Child GL</h2>
            <table class="table table-striped" style="text-align:center">
                <thead>
                    <tr class="table-primary">
                        <th *ngFor="let gl of childGLList">{{gl.accountType}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let gl of childGLList">{{gl.balance.toFixed(2)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-card>