<mat-card>
    <mat-tab-group dynamicHeight>
        <mat-tab label="Cash Payment">
            <mat-card>
                <div class="row">
                    <h2>Receive Cash</h2>
                    <app-cash-receive></app-cash-receive>
                </div>
            </mat-card>
        </mat-tab>
        <mat-tab label="Cash Receive">
            <mat-card>
                <div class="row">
                    <h2>Pay Cash</h2>
                </div>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</mat-card>