<mat-card>
    
    <div class="row">
        <div class="col-md-6"><h1>Invoice Details:</h1></div>
        <div class="col-md-6">
            <button style="float:right;" (click)="downloadInvoice()" mat-raised-button color="accent">Download
                Invoice</button>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Supplier :</th>
                        <td>{{supplyer?.person?.personName}} (Code: {{supplyer?.code}})</td>
                    </tr>
                    <tr>
                        <th>Contact :</th>
                        <td>{{supplyer?.person?.contactNo}}</td>
                    </tr>
                    <tr>
                        <th>Shop :</th>
                        <td>{{supplyer?.shopName}}(REG: {{supplyer?.regNo}})</td>
                    </tr>
                    
                </thead>

            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Balance :</th>
                        <td>{{supplyer?.account?.balance}} BDT</td>
                    </tr>
                    <tr>
                        <th>Total Bill:</th>
                        <td>{{supplyInvoice?.totalPrice || 0}} BDT</td>
                    </tr>
                    <tr>
                        <th>Discount:</th>
                        <td>{{supplyInvoice?.rebate || 0}} BDT</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div *ngIf="isDue" class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>New Payment</mat-label>
                <input type="number" (keyup)="calculateNewSummary()" pInputText [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="payment.newPayment" placeholder="New Payment" matInput>
            </mat-form-field>
        </div>
        <div *ngIf="isDue" class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>New Rebate</mat-label>
                <input type="number" pInputText (keyup)="calculateNewSummary()" [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="payment.newRebate" placeholder="New Rebate" matInput>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <h2>Orders</h2>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        
                        <th>SN</th>
                        <th>OrderNo</th>
                        <th>Product Name</th>
                        <th>Price Rate</th>
                        <th>Total Quantity</th>
                        <th>Quantity Delivered</th>
                        <th>Quantity Pending</th>
                        <th>Quantity Retured</th>
                        <th>Status</th>
                        <th style="text-align: center;">
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                            
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of supplyOrders; index as i">
                        <td scope="row">{{i+1}}</td>
                        <td>{{order?.orderNo}}</td>
                        <td>{{order?.product?.productName}}</td>
                        <td>{{order?.pricePerUnit}}</td>
                        <td>{{order?.quantityOrdered}}</td>
                        <td>{{order?.quantityDelivered}}</td>
                        <td>{{order?.qunatityDeliveryPending}}</td>
                        <th>{{order?.quantityReturned}}</th>
                        <td>{{order?.deliveryStatus}}</td>
                        <td  style="text-align: center;">
                            <mat-checkbox *ngIf="order.deliveryStatus =='PENDING'"  (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(order) : null"
                                [checked]="selection.isSelected(order)">
                            </mat-checkbox>
                        </td>
                        <!-- <td>
                            <button [disabled]="order.deliveryStatus=='DELIVERED'" mat-mini-fab (click)="addDelievrySchedule(order)" color="primary">
                                <mat-icon>trolley</mat-icon>
                              </button>
                        </td> -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"></td>
                        <td><button *ngIf="supplyInvoice?.deliveryStatus!='DELIVERED'"  mat-raised-button color="warn" (click)="deliverAll()">Deliver All</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-12">
            <button mat-raised-button (click)="showReturnPanel(true)" color="primary" style="width: 100%;">ADD RETURN PRODUCTS</button>
        </div>
    </div>
    <div *ngIf="isPending" class="row">
        <h2>Receive Product Delivery:</h2>
        <div class="col-md-3">
            <mat-form-field appearance="outline" class="input-field">
                <mat-label>Product</mat-label>
                <mat-select [ngModelOptions]="{standalone:true}" [(ngModel)]="selectedOrderItem">
                    <mat-option *ngFor="let order of supplyOrdersForSchedule" (onSelectionChange)="onSelectOrder($event)"
                        [value]="order">{{order?.product?.productName}} ({{order?.deliveryStatus}})
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Deliverable Quantity</mat-label>
                <input type="number" pInputText [ngModelOptions]="{standalone:true}"
                    (change)="onChangeDelievredQuantity()" [(ngModel)]="delieverySchedule.deliverableQuantity"
                    [disabled]="isDelivered" placeholder="Quantity" matInput>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Date:</mat-label>
                <input matInput [matDatepicker]="picker" [disabled]="isDelivered" [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="delieverySchedule.scheduledDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-3" style="text-align: right;">
            <button (click)="addDelievrySchedule(null)" [disabled]="isDelivered" mat-raised-button color="warn">Add
                Delivery</button>
        </div>
        <p style="color:red;font-weight: bold;">{{errMsg}}</p>
        <div class="col-md-10">
            <mat-form-field class="input-field" appearance="outline">
                <mat-label>Comment:</mat-label>
                <textarea type="text" pInputText
                
                [ngModelOptions]="{standalone:true}"
                [(ngModel)]="comment" matInput></textarea>
            </mat-form-field>
        </div>
        <div class="col-md-2">
            <button style="margin-top: 10px;"  mat-mini-fab (click)="updateComment()" color="primary">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>
</mat-card> 