<mat-card>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" class="input-field">
                <mat-label>Client Type</mat-label>
                <mat-select (selectionChange)="onTypeChange()" [ngModelOptions]="{standalone:true}"
                    [(ngModel)]="selectedType">
                    <mat-option *ngFor="let client of clientTypes" [value]="client.value">{{client?.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table *ngIf="showCustomerList" class="table table-striped" style="text-align:center ;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer Name</th>
                        <th>Contact No</th>
                        <th>Shop Name</th>
                        <th>Address</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-hover" *ngFor="let client of clientList; index as i"
                        (click)="viewClient(client.person.id)">
                        <td>{{i+1}}</td>
                        <td>{{client.person.personName}}</td>
                        <td>{{client.person.contactNo}}</td>
                        <td>{{client.shopName}}</td>
                        <td>{{client.person.personAddress}}</td>
                        <td>{{client.account.balance}}</td>
                    </tr>
                </tbody>
            </table>
            <table *ngIf="showSupplyerList" class="table table-striped" style="text-align:center ;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Supplier Name</th>
                        <th>Contact No</th>
                        <th>Company Name</th>
                        <th>Band Name</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-hover" *ngFor="let client of clientList; index as i"
                        (click)="viewClient(client.person.id)">
                        <td>{{i+1}}</td>
                        <td>{{client.code}}</td>
                        <td>{{client.person.personName}}</td>
                        <td>{{client.person.contactNo}}</td>
                        <td>{{client.shopName}}</td>
                        <td>{{client.brand}}</td>
                        <td>{{client.account.balance}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-card>