<mat-card>
    <div class="mt-5" style="padding:10px 20px ;">
        <h1>GL Account</h1>
        <h2>Balance: <span>{{balance}} BDT</span></h2>
        <hr>
    </div>
    <mat-tab-group class="mt-4">
        <!-- <mat-tab label="CLIENT TRANSACTION">
            <app-cash-payment (payrollEvent)="updateBalance($event)" ></app-cash-payment>
        </mat-tab> -->
        <mat-tab label="EXPENSE">
            <app-expense (expenseEvent)="updateBalance($event)" ></app-expense>
        </mat-tab>
    </mat-tab-group>
    
</mat-card>