<mat-card>
    <div class="mt-5" style="padding:10px 20px ;">
        <h1>GL Account</h1>
        <h2>Balance: <span>{{balance}} BDT</span></h2>
        <hr>
    </div>
    <mat-tab-group class="mt-4">
        <!-- <mat-tab label="CLIENT TRANSACTION">
            <app-cash-payment (payrollEvent)="updateBalance($event)" ></app-cash-payment>
        </mat-tab> -->
        <mat-tab label="DEPOSIT">
            <app-deposit (depositEvent)="updateBalance($event)"></app-deposit>
        </mat-tab>
        <mat-tab label="EXPENSE">
            <app-expense (expenseEvent)="updateBalance($event)" ></app-expense>
        </mat-tab>
        <mat-tab label="SALARY">
            <app-salary-expense (salaryEvent)="updateBalance($event)"></app-salary-expense>
        </mat-tab>
        <mat-tab label="LOAN MANAGEMENT">
            <app-add-loan-details (loanEvent)="updateBalance($event)" ></app-add-loan-details>
        </mat-tab>

    </mat-tab-group>
    
</mat-card>