<mat-card>
    <h1>Invoice Details:</h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Customer :</th>
                        <td>{{customer?.person?.personName}}</td>
                    </tr>
                    <tr>
                        <th>Contact :</th>
                        <td>{{customer?.person?.contactNo}}</td>
                    </tr>
                    <tr>
                        <th>Shop :</th>
                        <td>{{customer?.shopName}}</td>
                    </tr>
                    <tr>
                        <th>Balance :</th>
                        <td>{{customer?.account?.balance}} BDT</td>
                    </tr>
                </thead>

            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Total Bill:</th>
                        <td>{{saleInvoice?.totalPrice || 0}} BDT</td>
                    </tr>
                    
                    <tr>
                        <th>Total Payable Amount:</th>
                        <td>{{saleInvoice?.totalPayableAmount || 0}} BDT</td>
                    </tr>
                    <tr>
                        <th>Total Paid:</th>
                        <td>{{saleInvoice?.totalPaidAmount || 0}} BDT</td>
                    </tr>
                </thead>
            </table>
        </div>
        </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <h2>Orders</h2>
            <hr>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>OrderNo</th>
                        <th>Product Name</th>
                        <th>Price Rate</th>
                        <th>Total Quantity</th>
                        <th>Quantity Delivered</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of saleOrders; index as i">
                        <td scope="row">{{i+1}}</td>
                        <td>{{order?.orderNo}}</td>
                        <td>{{order?.product?.productName}}</td>
                        <td>{{order?.pricePerUnit}}</td>
                        <td>{{order?.quantityOrdered}}</td>
                        <td>{{order?.quantityDelivered}}</td>
                        <td>{{order?.deliveryStatus}}</td>
                        <td>
                            <button [disabled]="order.deliveryStatus=='DELIVERED'" mat-mini-fab (click)="addDelievrySchedule(order)" color="primary">
                                <mat-icon>trolley</mat-icon>
                              </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" rowspan="4"></th>
                        <th>Total Price:</th>
                        <th>{{saleInvoice?.totalPrice}} BDT</th>
                    </tr>
                    <tr>
                        <th>Previous Due:</th>
                        <th>{{saleInvoice?.previousDue || 0}} BDT</th>
                    </tr>
                    <tr>
                        <th>Total Payable Amount:</th>
                        <th>{{saleInvoice?.totalPayableAmount}} BDT</th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            <div class="row">
                                <div class="col-md-12" >
                                <button style="float:right;" (click)="downloadInvoice()" mat-raised-button
                                            color="accent">Download Invoice</button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-12">

        </div>
    </div>
</mat-card>