<mat-card>
    <div class="row">
        <h2>Supplyer List:</h2>
        <div class="col-md-12">
            <table class="table table-striped" style="text-align:left ;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Supplyer Name</th>
                        <th>Contact No</th>
                        <th>Company Name</th>
                        <th>Band Name</th>
                        <th style="text-align: right;">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row-hover" *ngFor="let client of clientList; index as i"
                        (click)="viewClient(client.person.id)">
                        <td>{{i+1}}</td>
                        <td>{{client.code}}</td>
                        <td>{{client.person.personName}}</td>
                        <td>{{client.person.contactNo}}</td>
                        <td>{{client.companyName}}</td>
                        <td>{{client.brand}}</td>
                        <td  style="text-align: right;">{{client.account.balance}} BDT</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</mat-card>