<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="javascript:void(0)"> Hello! {{userProfile}}</a>
        <div class="container-fluid">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:void(0)"></a>
                </li>
              </ul>
              <div class="d-flex">
                <button class="btn btn-danger" (click)="logout()" type="button">Log Out</button>
              </div>
        </div>
    </nav>
</div>