<div class="container-fluid">
    <!-- <app-menu-bar [items]="menuItems"></app-menu-bar> -->
    <mat-card style="height:800px; overflow:scroll">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group side-nav mt-3" style="position:sticky;">
                    <a routerLink="/client" class="list-group-item list-group-item-action">Client Dashboard</a>
                    <a routerLink="client-list" class="list-group-item list-group-item-action">Client List</a>
                    <a routerLink="add-supplyer" class="list-group-item list-group-item-action">Add Supplyer</a>
                    <!-- <a routerLink="customer" class="list-group-item list-group-item-action">Customer</a>
                    <a routerLink="employee" class="list-group-item list-group-item-action">Employee</a> -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="rounded">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-card>
</div>

