<!-- <div class="container-fluid">
    <mat-card>
        <div class="row">
            <div class="col-md-2">
                <div class="fixd">
                    <div class="list-group side-nav mt-2">
                        <a routerLink="/stock" class="list-group-item list-group-item-action">ADD STOCK</a>
                        <a routerLink="supply-invoice-list" class="list-group-item list-group-item-action">Invoice List</a>
                        <a routerLink="" class="list-group-item list-group-item-action">Third item</a>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="rounded">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-card>
</div> -->

<div class="row">
    <div class="col-md-2">
        <nav class="main-menu bg-dark">
            <ul>
                <li>
                    <a routerLink="/home">
                        <i class="fa fa-home"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>
        
                </li>
                <li class="has-subnav">
                    <a routerLink="create-supply">
                        <i class="fa fa-list"></i>
                        <span class="nav-text">
                            Add Stock
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a routerLink="supply-invoice-list">
                        <i class="fa fa-plus-square"></i>
                        <span class="nav-text">
                            Invoice List
                        </span>
                    </a>
                </li>
                <li>
                    <a routerLink="product-stock">
                        <i class="fa fa-table"></i>
                        <span class="nav-text">
                            Product Stock
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>


